.contenedor_logo {
    width: 70%;
    /* background-color: aqua; */
    position: absolute;
    margin-top: 6.5rem;
    text-align: center;
    color: white;
}

.contenedor_logo h1 {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
}