.contenedor_logo {
  /* background-color: aqua; */
}

main {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

main section {
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.section3 {
    display: flex;
    flex-direction: column;
}