.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.container {
  perspective: 1000px;
}

.logo {
  width: 10rem;
  height: 10rem;
  animation: spinX 3s linear infinite;
  transform-style: preserve-3d;
}

@keyframes spinX {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
