.container_section {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.container_pages {
    display: flex;
}

.pages {
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.womens {
    background: url('../../../../../assets/img/women-section2.jpeg') no-repeat center 0;
    background-size: cover;
    height: 100vh;
    filter: brightness(0.7);
    position: relative;
    display: flex;
    justify-content: start;
    align-items: normal;
    transition: filter 0.5s;
}

.pages p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    color: white;
    transition: font-size 0.5s;
}

.sexshop {
    background: url('../../../../../assets/img/Hombrehoodwave.jpeg') no-repeat center -5rem;
    background-size: cover;
    height: 100vh;
    filter: brightness(0.7);
    position: relative;
}

.page_w:hover .womens,
.page_s:hover .sexshop {
    filter: brightness(0.5);
}
.page_w:hover p,
.page_s:hover p {
    font-size: 15rem;
}
