.container_footer {
  height: 300px;
  width: 100vw;
}

.aboutUs {
    width: 100vw;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    column-gap: 20rem;
    padding: 4rem;
}

.empresa a {
    font-size: 1.6rem;
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.social img {
  width: 3rem;
  height: 3rem;
}

.copyright {
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 2rem 4rem 0rem 4rem ;
}

.text-logo {
    font-size: 3rem;
}

.terminos {
    display: flex;
    justify-content: space-around;
    column-gap: 3rem;
}

.terminos p,
.terminos a {
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.text_copyright {
    font-size: 2.2rem;
    font-weight: normal;
}

@media (max-width: 768px) {
    .container_footer {
        margin-bottom: 3rem;
    }
    .aboutUs {
        padding: 1rem;
    }
}