<div class="contenedor_footer">

    <div class="servicios">
        <ul>
            <li class="servicios_icon">
                <img src="assets/icons/seguridad.png" alt="">
                <p>Pagos Seguros</p>
            </li>
            <li class="servicios_icon">
                <img src="assets/icons/camion-de-reparto.png" alt="">
                <p>Repartos a todo el pais</p>
            </li>
            <li class="servicios_icon">
                <img src="assets/icons/celular.png" alt="">
                <p>Atención al cliente</p>
            </li>
            <li class="servicios_icon">
                <img src="assets/icons/bolsa-de-la-compra.png" alt="">
                <p>Seguimiento de pedido</p>
            </li>
        </ul>
    </div>

    <div class="footer_redes">
        <div class="contenedor_redes">
            <div class="Siguenos">
                <h1>Siguenos</h1>
                <ul>
                    <li><img src="assets/icons/instagram.png" alt=""></li>
                    <li><img src="assets/icons/mini-facebook.png" alt=""></li>
                </ul>
            </div>
            <div class="contenedor_contacto">
                <h1>Contactanos</h1>
                <a class="correo">myjhonier@gmail.com</a>
                <a class="telefono">3217742885</a>
            </div>
        </div>
    </div>

    <!-- <p class="copyright">Copyright @ 2024</p> -->

</div>