<div class="container_footer">
    <hr>
    <div class="aboutUs">
        <div class="empresa">
            <h1>Empresa</h1>
            <a href="#">Conoce más sobre nosotros</a>
        </div>
        <div>
            <h1>Contáctanos</h1>
            <div class="social">
                <a href="https://www.facebook.com/"><img src="../../../../assets/icons/facebook.svg" alt="Facebook"></a>
                <a href="https://www.instagram.com/"><img src="../../../../assets/icons/instagram.svg" alt="Instagram"></a>
                <a href="https://www.twitter.com/"><img src="../../../../assets/icons/twitter-x.svg" alt="Twitter"></a>
                <a href="https://www.twitter.com/"><img src="../../../../assets/icons/whatsapp.svg" alt="Twitter"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <h1 class="text-logo">HOODWAVE</h1>
        <div class="terminos">
            <a href="#">Terminos y condiciones</a>
            <p>|</p>
            <a href="#">Politica de privacidad</a>
        </div>
        <p class="text-logo text_copyright">2024 H.W</p>
    </div>
    <hr>
</div>