<div class="container_footer">
    <hr>
    <div class="aboutUs">
        <div class="empresa">
            <h1>Empresa</h1>
            <a href="#">Conoce más sobre nosotros</a>
        </div>
        <div class="contact">
            <h1>Contáctanos</h1>
            <div class="social">
                <!-- <a href="https://www.facebook.com/"><img src="../../../../assets/icons/facebook.svg" alt="Facebook"></a> -->
                <a href="https://www.instagram.com/redvibes_style" target="_blank"><img src="../../../../assets/icons/instagram.svg" alt="Instagram"></a>
                <!-- <a href="https://www.twitter.com/"><img src="../../../../assets/icons/twitter-x.svg" alt="Twitter"></a> -->
                <a href="https://api.whatsapp.com/send?phone=573217742884" target="_blank"><img src="../../../../assets/icons/whatsapp.svg" alt="Whatsapp"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <a class="text-logo">RED VIBES</a>
        <a href="#">Terminos y condiciones</a>
        <a href="#">Politica de privacidad</a>
        <a class="text-logo text_copyright">2024 R.V</a>
    </div>
    <hr>
</div>