* {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.contenedor_section {
  background: url("../../../../../assets/img/section1.jpg") no-repeat center
    center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25rem;
  color: white;
}

.logo p {
  color: white;
  font-size: 5rem;
  height: 12rem;
  font-weight: 500;
}

.follow {
  position: absolute;
  left: 3rem;
  bottom: calc(10px + env(safe-area-inset-bottom));
}

.follow p {
  font-size: 4rem;
  font-weight: 500;
  color: white;
}

.social {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    column-gap: 1rem;
}

.social img {
  width: 4rem;
  height: 4rem;
  filter: invert(1);
}