<div class="contenedor_section">
    <div class="logo">
        <p>VIBRA URBANA ESPIRITU LATINO</p>
        <img src="../../../../../assets/img/urbanPeople.png" alt="Peolple">
    </div>

    <div class="follow">
        <p>Síguenos!</p>
        <div class="social">
            <!-- <a href="https://www.facebook.com/" target="_blank"><img src="../../../../../assets/icons/facebook.svg" alt="Facebook"></a> -->
            <a href="https://www.instagram.com/redvibes_style" target="_blank"><img src="../../../../../assets/icons/instagram.svg" alt="Instagram"></a>
            <!-- <a href="https://www.twitter.com/" target="_blank"><img src="../../../../../assets/icons/twitter-x.svg" alt="Twitter"></a> -->
            <a href="https://api.whatsapp.com/send?phone=573217742884" target="_blank"><img src="../../../../../assets/icons/whatsapp.svg" alt="Twitter"></a>
        </div>
    </div>
</div>