<div class="contenedor_section">
    <div class="logo">
        <p>Moda</p>
        <h1>CHIC</h1>
    </div>

    <div class="follow">
        <p>Síguenos!</p>
        <div class="social">
            <a href="https://www.facebook.com/"><img src="../../../../../assets/icons/facebook.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img src="../../../../../assets/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://www.twitter.com/"><img src="../../../../../assets/icons/twitter-x.svg" alt="Twitter"></a>
            <a href="https://www.twitter.com/"><img src="../../../../../assets/icons/whatsapp.svg" alt="Twitter"></a>
        </div>
    </div>
</div>