<div class="container-checkout">
  <form
    class="cart-container"
    [formGroup]="checkoutForm"
    (ngSubmit)="confirmPayment()"
  >
    <div class="card-container">
      <h2 class="title-module">Finalizar Compra</h2>
      <div class="checkout-form">
        <div class="inputContainer">
          <input
            required=""
            class="customInput"
            type="text"
            formControlName="fullName"
          />
          <label class="inputLabel">Nombre</label>
          <div *ngIf="validateFullName" class="divError">
              <mat-error *ngIf="fullName!.errors!.required">
                    {{constantes.TEXT_ERROR_REQUIRED}}
              </mat-error>
          </div>
        </div>
        <div class="inputContainer">
          <input
            required=""
            class="customInput"
            type="text"
            formControlName="documentId"
          />
          <label class="inputLabel">Cedula</label>
          <div *ngIf="validateDocumentId" class="divError">
              <mat-error *ngIf="documentId!.errors!.required">
                    {{constantes.TEXT_ERROR_REQUIRED}}
              </mat-error>
          </div>
        </div>
        <div class="inputContainer">
          <input
            required=""
            class="customInput"
            type="text"
            formControlName="email"
          />
          <label class="inputLabel">Correo</label>
          <div *ngIf="validateEmail" class="divError">
              <mat-error *ngIf="email!.errors!.required">
                    {{constantes.TEXT_ERROR_REQUIRED}}
              </mat-error>
          </div>
        </div>
        <div class="inputContainer">
          <input
            required=""
            class="customInput"
            type="text"
            formControlName="phone"
          />
          <label class="inputLabel">Telefono</label>
          <div *ngIf="validatePhone" class="divError">
              <mat-error *ngIf="phone!.errors!.required">
                    {{constantes.TEXT_ERROR_REQUIRED}}
              </mat-error>
          </div>
        </div>
        <div class="inputContainer">
          <select
            required
            class="customInput"
            formControlName="department"
            (change)="onDepartmentChange($event.target)"
          >
            <option value="" disabled selected>
              Seleccione un departamento
            </option>
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </option>
          </select>
          <label class="inputLabel">Departamento</label>
          <div *ngIf="validateDepartment" class="divError">
              <mat-error *ngIf="department!.errors!.required">
                    {{constantes.TEXT_ERROR_REQUIRED}}
              </mat-error>
          </div>
        </div>
        <div class="inputContainer">
          <select required class="customInput" formControlName="city">
            <option value="" disabled selected>Seleccione una ciudad</option>
            <option *ngFor="let city of cities" [value]="city">
              {{ city.name }}
            </option>
          </select>
          <label class="inputLabel">Ciudad</label>
          <div *ngIf="validateCity" class="divError">
              <mat-error *ngIf="city!.errors!.required" class="error-text">
                    {{constantes.TEXT_ERROR_REQUIRED}}
              </mat-error>
          </div>
        </div>
        <div class="inputContainer">
          <input
            required=""
            class="customInput"
            type="text"
            formControlName="address"
          />
          <label class="inputLabel">Direccion</label>
          <div *ngIf="validateAddress" class="divError">
              <mat-error *ngIf="address!.errors!.required">
                    {{constantes.TEXT_ERROR_REQUIRED}}
              </mat-error>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container-resume">
      <h2>Resumen de la compra</h2>
      <p>Cantidad de productos: {{ allCarItems.length }}</p>
      <p>Total: $ {{ getTotal() | currency : " " }}</p>
      <button class="Btn" type="submit">
        Pay
        <svg class="svgIcon" viewBox="0 0 576 512">
          <path
            d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"
          ></path>
        </svg>
      </button>
    </div>
  </form>
</div>

<div #formPay style="display: none"></div>
