<div class="container-womens">

    <div class="navbar-clothes">
        <li *ngFor="let item of allFilters"><a>{{item.name}}</a></li>
    </div>

    <div class="container_filter">
        <div class="filter_menu">
            <p class="title-module">{{titleModdule}}</p>
            <h1 (click)="openFilter()">Filtrar</h1>
        </div>
        <div class="filter-by" *ngIf="filtrar">
            <form class="filter" [formGroup]="filterForm" (ngSubmit)="aplyFilter()">
                <div class="filter_title">
                    <h1>Filtrar</h1>
                    <a (click)="closeFilter()"><img src="../../../../assets/icons/x.png" alt="close"></a>
                </div>
                <div class="all_filters"> 
                    <div>
                        <p>Ordenar por</p>
                        <mat-radio-group class="radio-group-filtro" formControlName="order">
                            <mat-radio-button color="primary" value="1">Mayor precio</mat-radio-button>
                            <mat-radio-button color="primary" value="0">Menor precio</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="checbox-container">
                        <p>Categorias</p>
                        <mat-checkbox class="checbox-categories"
                            *ngFor="let filter of allFilters"
                            [value]="filter"
                            (change)="onChangeCategory($event)">
                            {{ filter.name }}
                        </mat-checkbox>
                    </div>
                    <div class="checbox-container">
                        <p>Talla</p>
                        <div class="checbox-size">
                            <mat-checkbox
                                *ngFor="let size of sizes"
                                [value]="size"
                                (change)="onCheckboxChange($event)">
                                {{ size }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="filter-apply">
                    <button type="submit" >Aplicar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="womens_section" *ngIf="allClothes.length > 0; else noClothes">
        <div *ngFor="let item of allClothes">
            <div class="container_card">
                <figure>
                    <div class="list_size" [ngClass]="{'souldOut_image': !item.size.length}">
                        <p *ngIf="item.size.length && item.offSale">-{{item.offSale}}%</p>
                        <img src="{{item.image}}" alt="Imagen del producto." />
                        <div class="tallas-container" *ngIf="item.size.length; else souldOut">
                            <button *ngFor="let itemSize of item.size" (click)="seleccionarTalla(item, itemSize)" [class.selected]="item?.sizeSelected == itemSize">
                                {{ itemSize }}
                            </button>
                        </div>
                        <ng-template #souldOut>
                            <div class="container_souldout">AGOTADO</div>
                        </ng-template>
                    </div>
                </figure>
                <div class="card_body">
                    <h1>{{item.name}}</h1>
                    <div class="price">
                        <p *ngIf="item.size.length && item.offSale">${{item.price}}</p>
                        <h2>${{calcPrice(item.price, item.offSale)}}</h2> 
                    </div>
                    <button type="button" *ngIf="item.size.length" (click)="addCarItem(item)">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noClothes>
        <div class="noClothes">
            <div class="loader"></div>
        </div>
    </ng-template>
</div>