<div class="contenedor_promocional">
    <!-- COM Slide -->
    <div class="contenedor_slider">
        <ul>
           <li><img src="../../../../../assets/img/mujer.jpg" alt=""></li>
           <li><img src="../../../../../assets/img/woman-7009979_1280.jpg" alt=""></li>
           <li><img src="../../../../../assets/img/girl.jpg" alt=""></li>
           <li><img src="../../../../../assets/img/people.jpg" alt=""></li>
        </ul>
    </div>

    <!-- COM Promocional -->
    <div class="banner">
        <div class="section">
            <p>¡Descuento hasta 40% en los productos!</p>
        </div>
        <div class="section">
            <p>Envio gratis en compras superiores a $50.</p>
        </div>
        <div class="section">
            <p>Aprovecha nuestras ofertas exclusivas.</p>
        </div>
    </div>
</div>