.contenedor_promocional {
    /* height: 50rem; */
    /* background-color: blueviolet; */
    overflow: hidden;
}

.contenedor_slider {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.contenedor_slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.contenedor_slider li {
	width: 100%;
	list-style: none;
}

.contenedor_slider img {
	width: 100%;
    height: 50rem;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.banner {
    display: flex;
    justify-content: space-between;
    /* background-color: #f0f0f0; */
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    margin-top: 2rem;
}

.section {
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.section p {
    margin: 0;
    font-size: 15px;
}

.section i {
    background-color: aquamarine;
}