*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 1rem;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.contenedor_navbar {
  background-color: black;
  color: white;
  display: flex;
  height: 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.navbar-transparent {
  background-color: transparent;
}

.hidde-logo {
  display: none;
}

.navbar {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.navbar_link,
.contenedor_logo,
.navbar_car {
  width: 100%;
}

.navbar_link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar_link ul li {
  cursor: pointer;
  list-style: none;

  && a {
    font-weight: 100;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
}

#img_car {
  cursor: pointer;
  filter: invert(1);
  height: 2.5rem;
}

.navbar_car {
  display: flex;
  justify-content: center;
}

.navbar_car p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-0.5rem);
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: red;
  color: white;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
}

.container_car_list {
  position: relative;
  height: 100%;
}

.container_car {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 40rem;
  z-index: 10;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.car_title {
  display: flex;
  width: 80%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  align-items: center;

  && h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    letter-spacing: 0.5px;
  }
  && a {
    padding: 1rem;
    cursor: pointer;
    && img {
      height: 1.2rem;
    }
  }
}

.divisor_car {
  background-color: black;
  height: 1.2px;
  margin: 1rem -1rem;
  opacity: 20%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.car {
  position: fixed;
  z-index: 9;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.485);
  overflow: hidden;
}

.car_items {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow-y: auto;
  height: 100%;
  && img {
    width: 8rem;
  }
}

::-webkit-scrollbar {
  display: none;
}

.container_item {
  display: flex;
}

.container_item img {
  width: 8rem;
  height: 100%;
}

.item_info {
  padding-left: 1rem;
}

.item_info p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 300;
  color: black;
}

.item_cant {
  color: black;
  display: flex;
  padding-left: 1rem;
  height: auto;
  width: 100%;
  align-items: center;
  position: relative;
}

.item_cant p:nth-child(1) {
  width: auto;
  color: black;
  font-size: 1.4rem;
  font-weight: 300;
  padding-right: 1rem;
}

.item_cant p:nth-child(3) {
  width: auto;
  color: black;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1rem;
}

.item_cant p:nth-child(5) {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  position: absolute;
  right: 0.2rem;
}

.item_decrease,
.item_increase {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 50%;
}

.item_decrease:hover,
.item_increase:hover {
  background-color: lightgray;
}

.container_total {
  position: relative;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.car_button {
  left: 1.5rem;
  bottom: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: white;
  border: 1.5px solid black;
  transition: background-color 0.5s;
}

.car_button:hover {
  background-color: black;
  color: white;
}

.total_zone {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.total_zone h1 {
  font-size: 1.6rem;
  font-weight: 300;
}

.total_zone p {
  font-size: 1.6rem;
  font-weight: 500;
}

.item_count {
  width: 100%;
}

.item_delete {
  display: flex;
  justify-content: space-between;

  && p {
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 500;
  }

  && img {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
  }
  && img:hover {
    filter: invert(35%) sepia(100%) saturate(1000%) hue-rotate(300deg);
  }
}

.contenedor_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  color: white;
  text-decoration: none;
}
