<div class="container_prom">
    <div class="offsale">
        <h1>Rebajas hasta <span class="percentage">-35%</span></h1>
        <div class="categories">
            <button>Pantalones y jeans</button>
            <button>Camisetas y tops</button>
            <button>Accesorios</button>
        </div>
    </div>
    <div class="offSale_background"></div>
    <div class="promotional">
        <h1>Tu vibra es tu mejor outfit.</h1>
        <p>¡Get ready para descubrir todas las tendencias, colabs y promociones exclusivas!</p>
    </div>
</div>